/*utils*/
.bgc-header-dark{
    background-color: #2C3E50;
}
.bg-greenwater{
   background-color: #1ABC9C; 
}
.bg-footer-gray{
    background-color: #3A546D;
}
.bg-footer-darkgray{
    background-color: #2C3E50;
}
.clr-greenwater{
    color: #1ABC9C;
}
/*body*/
ul{
    list-style-type: none;
    gap: 20px;
}
li div{
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.jumbo{
    width: 300px;
}
.card{
    margin-bottom: 40px;
}

#contact-me .form-control{
    border-width: 0 0 1px 0;
    border-color: gray;
    border-radius: 0;
}
.col-footer-bot{
    height: 80px;
}
/*footer*/
.col-info .card{
    height: 150px;
}
.copyright{
    height: 100px;
    
}
.copyright div{
    height: 50px;
    width: 400px;
    border: 1px solid rgb(255, 238, 0);
}
/*divisore*/
.fa-star{
    font-size: 24px;
    position: relative;
    top: -2px;
}
.star-divider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-divider::after, .star-divider::before{
    content: "";
    display: inline-block;
    background-color: #fff;
    height: 2px;
    margin: 0 10px;
    width: 100px;
}
.star-divider.dark{
    color: black;
}
.star-divider.dark::after, .star-divider.dark::before{
    background-color: black;   
}
.star-divider.longer::after, .star-divider.longer::before{
    width: 150px;
}
